<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Welcome, {{ username }} to chat area</h1>
    
        
    <div id="messages">
        {% for item in Open_db %}
            {% for key,value in item.items() %}
                <p>{{ key }}: {{ value }}</p>
            {% endfor %}
        {% endfor %}
    </div>
        

    <div>
        <form action="" method="post">
            <input type="text" name="user_message" placeholder="Type here">
            <button type="submit">Send</button>
        </form>
    </div>
        
</body>
</html>