<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Welcome to world chat</h1>
        <br> 
        <br>
        <br>

            <form action="" method="POST">
                <input type="text" name="username" placeholder="username">
                <button type="submit">Continue</button>  
            </form>

</body>
</html>